
/*General Items*/

* {
	box-sizing: border-box;
}

h2 {
  	font-weight: bold;
	font-family: georgia;
	color: #4aaaa5;
	padding-left: 20px;
}

h3 {
	font-weight: bold;
	font-family: georgia;
	color: #4aaaa5;
}

/*Classes*/

.nav {
	height: 75px;
}

.nav li {
	display: inline;
}

.container {

}

.pull-left {
	margin-left: -10px;
	width: 365px;
	height: 75px;
	color: #ffffff;
	background-color: #4aaaa5;
}

.pull-right {
	margin-top: 20px;
	font-family: arial;
	font-size: 20px;
	color: #cccccc;
	word-spacing: 10px;
}

.col-md-8 {
	float: left;
	padding-bottom: 25px;
	border-style: solid;
	border-width: 1.5px;
	border-color: #dddddd;
	background-color: #ffffff;
	margin-right: 10px;
}

.col-md-4 {
	float: center;
	width: 40%;
	margin-right: 60px;

}

.aside {
	float: right;
	width: 30%;
	height: 175px;
	text-align: center;
	padding-bottom: 25px;
	border-style: solid;
	border-width: 1.5px;
	border-color: #dddddd;
	background-color: #ffffff;
	margin-left: 10px;
}

.footer {
	font-family: arial;
	text-align: center;
	font-size: 12px;
	color: #c0c0c0;
	background-color: #666666;
	padding: 40px;
	border-top: 7.5px;
	border-left: 0px;
	border-right: 0px;
	border-bottom: 0px;
	border-style: solid;
	border-color: #4aaaa5;
}

.form-group {
	padding-left: 15px;
	padding-right: 15px;
}

.tag {
	position: absolute;
	left: 35px;
	bottom: 50px;
	height: 60px;
	width: 335px;
	margin-bottom: -20px;
	background-color: #4aaaa5;
	text-align: center;
}

.portfolioname {
	color: #ffffff;
}

.portfolioimg {
	padding: 20px;
	height: 300px;
	width: 375px;
}

/*Individual IDs*/

#headername {
	color: #ffffff;
}

#bodybackground {
	background-image: url(../images/background.png);
}

#hr1 {
	width: 95%;
	background-color: #cccccc;
	height: 3px;
}

#hr2 {
	width: 65%;
	background-color: #cccccc;
	height: 3px;
}

#gaprow1 {
	padding: 20px;
	background-image: url(../images/background.png);
}

#gaprow2 {
	padding: 20px;
	background-image: url(../images/background.png);
}

#connectimg1 {
	height: 53px;
	width: 53px;
	margin-right: 10px;
}

#connectimg2 {
	height: 53px;
	width: 53px;
	margin-right: 10px;
}

#connectimg3 {
	height: 50px;
	width: 50px;
	margin-top: 1.5px;
	padding-bottom: 1px;
}

#selfimage {
	float: left;
	width: 315px;
	height: 200px;
	margin-left: 20px;
}

#para1 {
	float: right;
	width: 45%;
	margin-right: 20px;
}

#para2 {
	float: left;
	width: 95%;
	margin-right: 20px;
	margin-left: 20px;
	margin-top: 10px;
}

/*Media Query*/

@media screen and (max-width: 980px) {

	/*Classes*/

	.aside {
		width: 280px;
	}

	.col-md-8 {
		width: 60%;
	}

	.col-md-4 {
		margin-right: 0px;
	}

	.portfolioimg {
		padding: 20px;
		width: 400px;
		height: 300px;
	}

	.tag {
		width: 360px;
	}

	/*Individual IDs*/

	#hr1 {
		width: 90%;
	}

	#hr2 {
		width: 90%;
	}

	#selfimage {
		width: 90%;
		height: 25%;
	}

	#para1 {
		width: 90%;
		margin-left: 20px;
		margin-top: 20px;
	}

}

@media screen and (max-width: 768px) {

	/*Classes*/

	.aside {
		width: 100%;
		margin-top: 20px;
		text-align: left;
	}

	.portfolioimg {
		width: 720px;
		height: 500px;
	}

	.tag {
		width: 680px;
	}

	/*Invididual IDs*/

	#connectimg1 {
		margin-left: 20px;
	}

	#connecthead {
		margin-left: 20px;
	}

	.col-md-8 {
		width: 100%;
	}

	#hr1 {
		width: 95%;
	}

	#hr2 {
		width: 95%;
	}

	#selfimage {
		width: 95%;
		height: 20%;
	}

	#para1 {
		width: 95%;
		margin-top: 20px;
		margin-left: 0px;
	}

}

@media screen and (max-width: 640px) {

	/*Classes*/

	.nav {
		width: 100%;
		background-color: #4aaaa5;
	}	

	.pull-left {
		width: 100%;
		text-align: center;
		margin-bottom: 0px;
	}

	.pull-right {
		width: 620px;
		height: 70px;
		margin-top: 0px;
		top: 20px;
		text-align: center;
		background-color: #ffffff;
	}

	.portfolioimg {
		width: 610px;
		height: 400px;
	}

	.tag {
		width: 570px;
	}

	/*Individual IDs*/

	#gaprow3 {
		padding: 40px;
		background-color: #ffffff;
	}

}